@mixin gradientVertical ($color1, $color2, $color3) {
	// background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, $color1, $color2, $color3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, $color1, $color2, $color3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, $color1, $color2, $color3); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, $color1, $color2, $color3); /* Standard syntax */
}
@mixin gradientHorizontal ($color1, $color2, $color3) {
	// background: $color1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($color1, $color2, $color3); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($color1, $color2, $color3); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($color1, $color2, $color3); /* For Firefox 3.6 to 15 */
  background: linear-gradient($color1, $color2, $color3); /* Standard syntax */

}

@mixin display {
	display: block;
}
@mixin hide {
	display: none;
}

$firstCheckPoint: 380px;
$secondCheckPoint: 600px;
$thirdCheckPoint: 900px;
