* {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	// overflow:hidden;
}

.container {
	width: 90vw;
	max-width: 1120px;
	min-width: 200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 1rem 0;
	// @include blueBorder;
}

h3 {
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}
h4 {
	text-align: center;
	font-size: 1.25rem;
}
h5 {
	text-align: left;
	font-size: 1em;
	// padding: 0.1em;
}
.section__title {
	text-align: center;
	width: 100%;
}


/*HEADER*/
header.main__header {
	background-image: url("../images/construction-site copy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $firstBcgColor;
	z-index: 0;
}

/*NAVIGATION*/
.navbar {
	background-color: $thirdBcgColor;
	color: white;
	font-size: 1em;
	height: 7vh;
	min-height: 30px;
	display: flex;
	align-items: center;
	position: fixed;
  width: 100%;
	&__container {
		justify-content: space-between;
		padding: 0;
	}
	&__logo {
		background-image: url(../images/logo-white.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 3rem;
		height: 1.5rem;
	}
	&__logo:hover {
		transform: translateY(2px);
		color: #ddd;
		transition: all 0.3s;
	}
	&__navigation {
		h4.navbar__listTitle {
			cursor: pointer;
			@media (min-width: $secondBreakpoint) {
				display: none;
			}
		}
		ul.navbar__list {
			display: none;
			@media (min-width: $secondBreakpoint) {
				display: inline-block;
				margin-right: 2rem;
			}
		}
		// class added after click on menu in mobile version
		ul.navbar__list.navbar__menuDisplayed {
			display: block;
			position: absolute;
			background-color: black;
			z-index: 2;
			padding: 0.5rem 1rem;
			right: 1rem;
			margin-top: 1rem;
		}

		li.navbar__listItem {
			cursor: pointer;
			display: block;
			padding: 0.5rem 0;
			@media (min-width: $secondBreakpoint) {
				display: inline-block;
				padding: 0.8rem 0.5rem;
				}
			}
		li.navbar__listItem:hover {
			transform: translateY(2px);
			transition: all 0.3s;
		}
		a {
			text-decoration: none;
			color: white;
		}
		a:hover {
			color: #ddd;
		}
	}
}


.presentation {
	z-index: 2;
	&__container {
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
		padding-top: 12vh;
		@media (min-width: $secondBreakpoint) {
			flex-direction: row;
			padding-top: 12vh;
			min-height: 300px;
			height: 55vw;
    	max-height: 55vh;
		}
		@media (min-width: $thirdBreakpoint) {
			max-height: 55vh;
			padding-top: 12vh;
		}
	}
	&__logo {
		z-index: 1;
		width: 100%;
		height: 5vh;
		min-height: 50px;
		background-image: url("../images/logo-white.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		margin: 1em;
		@media (min-width: $secondBreakpoint) {
			width: 30%;
			height: 12vh;
			min-height: 60px;
		}
	}
	&__desc {
		width: 90%;
		color: white;
		overflow: hidden;
		line-height: 1.5rem;
		padding-bottom: 1rem;
		@media (min-width: $secondBreakpoint) {
			// width: 70%;
		}
		@media (min-width: $thirdBreakpoint) {
		}
		p {
			// font-family: 'Libre Baskerville', serif;
			// font-weight: 400;
			// font-size: 0.8em;
		}
	}
}
