* {
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	// overflow:hidden;
}

.container {
	max-width: 1120px;
	min-width: 200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	padding: 1em 0;
}

h3 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.2em;
}
h4 {
	text-align: center;
	font-size: 1.15em;
	padding: 0.1em;
}


/*HEADER*/
header {
	// height: 50vh;
	background-image: url("../images/construction-site copy.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $firstBcgColor;
	// filter: brightness(50%);
	z-index: 0;
}

/*NAVIGATION*/
.navbar {
	background-color: $thirdBcgColor;
	color: white;
	font-size: 1em;
	height: 7vh;
	display: flex;
	align-items: center;
	// @include pinkBorder;
	&__container {
		width: 100%;
		justify-content: space-between;
		padding: 0;
	}
	&__logo {
		background-image: url(../images/logo-white.png);
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		width: 3em;
		height: 1.5em;
		margin-left: 2em;
	}
	&__navigation {
		h4.navbar__listTitle {
			margin-right: 2em;
			cursor: pointer;
			@media (min-width: $secondBreakpoint) {
				display: none;
			}
		}
		ul.navbar__list {
			display: none;
			@media (min-width: $secondBreakpoint) {
				display: inline-block;
				margin-right: 2em;
			}
		}
		// class added after click on menu in mobile version
		ul.navbar__list.navbar__menuDisplayed {
			display: block;
			position: absolute;
			background-color: black;
			z-index: 2;
			padding: 0.5em 1em;
			right: 1em;
			margin-top: 1em;
		}

		li.navbar__listItem {
			cursor: pointer;
			display: block;
			padding: 0.5em 0;
			@media (min-width: $secondBreakpoint) {
				display: inline-block;
				padding: 0.8em 0.5em;
				// border: 1px solid pink;
				}
			}
		a {
			text-decoration: none;
			color: white;
		}
	}
}


.presentation {
	// height: 40vh;
	z-index: 2;
	&__container {
		height: 100%;
		justify-content: space-between;
		flex-direction: column;
		@media (min-width: $secondBreakpoint) {
			flex-direction: row;
		}
	}
	&__logo {
		z-index: 1;
		width: 100%;
		height: 5vh;
		background-image: url("../images/logo-white.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		margin: 1em;
		@media (min-width: $secondBreakpoint) {
			width: 30%;
			height: 12vh;
		}
	}
	&__desc {
		width: 90%;
		color: white;
		overflow: hidden;
		@media (min-width: $secondBreakpoint) {
			width: 70%;
		}
	}
}
