
.offer {
  background-color: $firstBcgColor;

  &__container {
    justify-content: flex-start;
    flex-direction: column;
    // @include pinkBorder;
  }
  &__desc {
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    flex-direction: column;
    width: 100%;
    // @include pinkBorder;
    @media (min-width: $secondBreakpoint) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
  &__desc1 {
    margin: 1em 0;
    @media (min-width: $secondBreakpoint) {
      width: 45%;
    }
    h5 {
    }
    ul {
      padding-left: 2em;
    }
    li {
      list-style-type: circle;
    }
  }
  &__desc2 {
    // @include pinkBorder;
    margin: 1em 0;

    @media (min-width: $secondBreakpoint) {
      width: 45%;
    }
  }
  &__comment {
    margin: 1em 0;
    // width: 90%;
    h4 {
      text-align: left;
    }
  }
}
