
.team {
  // @include greenBorder;

  &__container {
    flex-direction: column;
    display: flex;
    align-items: center;
    // justify-content: space-around;
    // width: 100vw;
    height: auto;
  }
  &__thumbnails {
    background-color: $secondBcgColor;
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: nowrap;
    @media (min-width: $secondBreakpoint) {
      justify-content:center;
    }
    img {
      height: calc(85vw/6);
      max-height: 90px;
      width: calc(85vw/6);
      max-width: 90px;
      @media (min-width: $secondBreakpoint) {
        margin: 0 0.2em;
      }
    }
  }
  &__thumbnails img:hover {
    transform: translateY(2px);
		color: #ddd;
		transition: all 0.3s;
  }
  &__figures {
    // padding: 1rem;
    figure {
      display: none;
    }
    figure.figure__displayed {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @media (min-width: $secondBreakpoint) {
        flex-direction: row;
        justify-content: space-around;
        // width: 50%;
      }
    }
    img {
      border: 1px solid black;
    }
    h5 {
      text-align: center;
      font-weight: bold;
      @media (min-width: $secondBreakpoint) {
        text-align: left;
      }
    }
    figcaption {
      text-align: center;
      margin: 1rem 0;
      @media (min-width: $secondBreakpoint) {
        text-align: left;
        margin: 0 1rem;
      }
    }
  }
}
